/* Contains all of the CSS for the two HTML files */

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0px;
    padding: 0px;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
    background-color: #E07A5F;
    font-weight: 600;
    color: #FFFDF7;
}

main {
    padding: 16px;
}

footer {
    border-top: 1px solid black;
    padding: 16px 16px;
    background-color: #E07A5F;
    font-weight: 500;
    color: #FFFDF7;
}

h1 {
    color: #780000;
}

#main-title {
    color: #780000;
    font-family: "Luckiest Guy", cursive;
    font-size: 40px;
    font-weight: 400;
    font-style: normal;
    margin-bottom: -15px;
}

#main-subtitle {
    color: #353839;
    font-size: 19px;
    font-weight: 550;
}

thead {
    font-weight: 600;
}

img {
    width: 333px;
    height: 333px;
    border-radius: 4px;
    box-shadow: 2px 4px 6px rgba(0,0,0,0.5);
}

.img-tr:hover {
    transform: scale(1.4) translateX(14%);
}

a:link, a:visited {
    text-decoration: none;
    color: #023e8a;
}

#navlink {
    color: #FFFDF7
}

.flexbox-container {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    border: 1px solid red;
}

.stars {
    font-size: 13px;
    font-weight: 500;
}

.recipe-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    justify-items: center;
    margin: 67px 0;
}

@media (width < 1000px) {
    .recipe-wrapper {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (width < 640px) {
    .recipe-wrapper {
      grid-template-columns: 1fr;
    }
  }

  .recipe-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    justify-items: center;
    margin: 75px 0;
    border: 2px solid #E07A5F;
    border-radius: 4px;
    box-shadow: 2px 4px 6px rgba(0,0,0,0.5);
    padding: 10px;
  }

  table tr:nth-child(even) {
    background-color: #d3d3d3;
  }
